A:link {
  color: #0273fd;
  text-decoration: none;
}
A:visited {
  color: #0273fd;
  text-decoration: none;
}
A:hover {
  color: #4e4e4e;
  text-decoration: none;
}
IMG {
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
}
P {
  margin: 0px;
}
U {
  padding-right: 4px;
  padding-left: 4px;
  color: #499dff;
}
.body {
  background-image: url(../images/body_fondo.jpg);
  margin: 0px;
  background-repeat: repeat-x;
  background-color: #7b7b7b;
}
.titulos {
  font: 26px arial;
  color: #bbbbbb;
  letter-spacing: -2px;
}
.titulos_celeste {
  font: 26px arial;
  color: #75b3fe;
  letter-spacing: -2px;
}
.titulos_tech {
  font: 26px arial;
  color: #0074ff;
  letter-spacing: -2px;
}
.titulos_crudo {
  font: 26px arial;
  color: #ffffff;
  letter-spacing: -2px;
}
TD {
  font-weight: normal;
  font-size: 11px;
  color: #767676;
  line-height: 16px;
  font-family: Verdana, Helvetica, sans-serif;
  text-decoration: none;
}
DIV {
  font-weight: normal;
  font-size: 11px;
  color: #767676;
  line-height: 16px;
  font-family: Verdana, Helvetica, sans-serif;
  text-decoration: none;
}
.tit_preguntas {
  padding-left: 0px;
  font-weight: bold;
  font-size: 11px;
  color: #0456c2;
  font-family: Verdana;
  ine-height: 38px;
}
.empresa {
  font-weight: bold;
  font-size: 12px;
  color: #a2a2a2;
  font-family: Verdana;
  text-decoration: none;
}
.pais {
  font-weight: normal;
  font-size: 11px;
  color: #57a4fc;
  font-family: Verdana;
  text-decoration: none;
}
.rotativa_1 {
  background: url(../images/home_rotativa1_fondo.png) no-repeat;
  width: 285px;
  height: 186px;
}
.titulo_resumen1 {
  font-weight: bold;
  font-size: 12px;
  vertical-align: middle;
  color: #0073fa;
  font-family: Arial;
  text-decoration: none;
}
H2 {
  font-weight: bold;
  font-size: 12px;
  vertical-align: middle;
  color: #0073fa;
  font-family: Arial;
  text-decoration: none;
}
.texto_productos_resumen {
  font-weight: normal;
  font-size: 11px;
  color: #bfbfbf;
  font-family: Arial;
  text-decoration: none;
}
.rotativa_hori_fecha {
  font-weight: normal;
  font-size: 12px;
  color: #fff;
  font-family: Verdana, Helvetica, sans-serif;
  text-decoration: none;
}
.rotativa_hori_tit1 {
  font-weight: bold;
  font-size: 12px;
  color: #4c4a4b;
  font-family: Verdana, Helvetica, sans-serif;
  text-decoration: none;
}
.name:hover {
  color: #0073fa;
  text-decoration: none;
}
.rotativa_hori_txt:link {
  font-weight: normal;
  font-size: 11px;
  vertical-align: middle;
  color: #fff;
  font-family: Arial;
  text-decoration: none;
}
.rotativa_hori_txt:visited {
  font-weight: normal;
  font-size: 11px;
  vertical-align: middle;
  color: #fff;
  font-family: Arial;
  text-decoration: none;
}
.rotativa_hori_txt:hover {
  font-weight: normal;
  font-size: 11px;
  vertical-align: middle;
  color: #fff;
  font-family: Arial;
  text-decoration: underline;
}
.rotativa_hori_tit:link {
  font-weight: bold;
  font-size: 12px;
  vertical-align: middle;
  color: #4b4b4b;
  font-family: Arial;
  text-decoration: none;
}
.rotativa_hori_tit:visited {
  font-weight: bold;
  font-size: 12px;
  vertical-align: middle;
  color: #4b4b4b;
  font-family: Arial;
  text-decoration: none;
}
.rotativa_hori_tit:hover {
  font-weight: bold;
  font-size: 12px;
  vertical-align: middle;
  color: #4b4b4b;
  font-family: Arial;
  text-decoration: underline;
}
.cierre:link {
  font-weight: normal;
  font-size: 11px;
  vertical-align: middle;
  color: #fff;
  font-family: Arial;
  text-decoration: none;
}
.cierre:visited {
  font-weight: normal;
  font-size: 11px;
  vertical-align: middle;
  color: #fff;
  font-family: Arial;
  text-decoration: none;
}
.cierre:hover {
  font-weight: normal;
  font-size: 11px;
  vertical-align: middle;
  color: #fff;
  font-family: Arial;
  text-decoration: underline;
}
.indice_prod:link {
  font-weight: normal;
  font-size: 11px;
  color: #8c8c8c;
  font-family: Verdana;
  text-decoration: none;
}
.indice_prod:visited {
  font-weight: normal;
  font-size: 11px;
  color: #8c8c8c;
  font-family: Verdana;
  text-decoration: none;
}
.indice_prod:hover {
  font-weight: normal;
  font-size: 11px;
  color: #8c8c8c;
  font-family: Verdana;
  text-decoration: underline;
}
.cierre_datos:link {
  font-weight: normal;
  font-size: 12px;
  color: #797979;
  font-family: Arial;
  text-decoration: none;
}
.cierre_datos:visited {
  font-weight: normal;
  font-size: 12px;
  color: #797979;
  font-family: Arial;
  text-decoration: none;
}
.cierre_datos:hover {
  font-weight: normal;
  font-size: 12px;
  color: #797979;
  font-family: Arial;
  text-decoration: underline;
}
.link_numeracion_pagina:link {
  font-weight: normal;
  font-size: 12px;
  color: #747474;
  font-family: Arial;
  text-decoration: none;
}
.link_numeracion_pagina:visited {
  font-weight: normal;
  font-size: 12px;
  color: #747474;
  font-family: Arial;
  text-decoration: none;
}
.link_numeracion_pagina:hover {
  font-weight: normal;
  font-size: 12px;
  color: #0273fd;
  font-family: Arial;
  text-decoration: none;
}
.item_menu:link {
  padding-right: 15px;
  display: block;
  padding-left: 30px;
  background: url(../images/botonera_item.jpg) no-repeat;
  padding-bottom: 0px;
  font: 11px/28px Verdana;
  color: #505050;
  padding-top: 0px;
  height: 30px;
  text-decoration: none;
}
.item_menu:visited {
  padding-right: 15px;
  display: block;
  padding-left: 30px;
  background: url(../images/botonera_item.jpg) no-repeat;
  padding-bottom: 0px;
  font: 11px/28px Verdana;
  color: #505050;
  padding-top: 0px;
  height: 30px;
  text-decoration: none;
}
.item_menu:hover {
  padding-right: 15px;
  display: block;
  padding-left: 30px;
  background: url(../images/botonera_item_over.jpg) no-repeat;
  padding-bottom: 0px;
  font: bold 11px/28px Verdana;
  color: #ffffff;
  padding-top: 0px;
  height: 30px;
  text-decoration: none;
}
.titulo_resumen:link {
  font-weight: bold;
  font-size: 12px;
  vertical-align: middle;
  color: #0073fa;
  font-family: Arial;
  text-decoration: none;
}
.titulo_resumen:visited {
  font-weight: bold;
  font-size: 12px;
  vertical-align: middle;
  color: #0073fa;
  font-family: Arial;
  text-decoration: none;
}
.titulo_resumen:hover {
  font-weight: bold;
  font-size: 12px;
  vertical-align: middle;
  color: #0073fa;
  font-family: Arial;
  text-decoration: underline;
}
.lnk_tech:link {
  font: 26px arial;
  color: #0074ff;
  letter-spacing: -2px;
  text-decoration: none;
}
.lnk_tech:visited {
  font: 26px arial;
  color: #0074ff;
  letter-spacing: -2px;
  text-decoration: none;
}
.lnk_tech:hover {
  font: 26px arial;
  color: #0074ff;
  letter-spacing: -2px;
  text-decoration: none;
}
.titulo_prod_ip:link {
  font-weight: bold;
  font-size: 12px;
  vertical-align: middle;
  color: #78b7fe;
  font-family: Arial;
  text-decoration: none;
}
.titulo_prod_ip:visited {
  font-weight: bold;
  font-size: 12px;
  vertical-align: middle;
  color: #78b7fe;
  font-family: Arial;
  text-decoration: none;
}
.titulo_prod_ip:hover {
  font-weight: bold;
  font-size: 12px;
  vertical-align: middle;
  color: #78b7fe;
  font-family: Arial;
  text-decoration: underline;
}
.mas_info:link {
  font-weight: normal;
  font-size: 11px;
  vertical-align: middle;
  color: #81bcff;
  font-family: Arial;
  text-decoration: none;
}
.mas_info:visited {
  font-weight: normal;
  font-size: 11px;
  vertical-align: middle;
  color: #81bcff;
  font-family: Arial;
  text-decoration: none;
}
.mas_info:hover {
  font-weight: normal;
  font-size: 11px;
  vertical-align: middle;
  color: #81bcff;
  font-family: Arial;
  text-decoration: underline;
}
.texto_prod:link {
  font-weight: normal;
  font-size: 11px;
  color: #bfbfbf;
  font-family: Arial;
  text-decoration: none;
}
.texto_prod:visited {
  font-weight: normal;
  font-size: 11px;
  color: #bfbfbf;
  font-family: Arial;
  text-decoration: none;
}
.texto_prod:hover {
  font-weight: normal;
  font-size: 11px;
  color: #bfbfbf;
  font-family: Arial;
  text-decoration: underline;
}
.titulos_crudo {
  font: 26px arial;
  color: #ffffff;
  letter-spacing: -2px;
}
.lnk_crudo:link {
  font: 26px arial;
  color: #ffffff;
  letter-spacing: -2px;
  text-decoration: none;
}
.lnk_crudo:visited {
  font: 26px arial;
  color: #ffffff;
  letter-spacing: -2px;
  text-decoration: none;
}
.lnk_crudo:hover {
  font: 26px arial;
  color: #ffffff;
  letter-spacing: -2px;
  text-decoration: none;
}
.datos_contacto {
  padding-left: 17px;
  font-weight: bold;
  font-size: 14px;
  background-image: url(../images/interior_cierre_fondo.jpg);
  color: #ffffff;
  padding-top: 14px;
  font-family: Verdana;
}
.item_listado {
  font-weight: normal;
  font-size: 11px;
  color: #e87316;
  line-height: 18px;
  font-family: Verdana;
}
.recuadrito_ficha {
  border-right: #d0ced1 1px solid;
  border-top: #d0ced1 1px solid;
  float: left;
  margin: 0px 3px 6px 0px;
  border-left: #d0ced1 1px solid;
  width: 107px;
  padding-top: 4px;
  border-bottom: #d0ced1 1px solid;
  height: 107px;
}
.recuadrito_ficha2 {
  border-right: #d0d0d0 1px solid;
  border-top: #d0d0d0 1px solid;
  float: left;
  margin: 20px 0px 0px;
  border-left: #d0d0d0 1px solid;
  width: 205px;
  border-bottom: #d0d0d0 1px solid;
  height: 129px;
}
.numeros {
  font-weight: bold;
  font-size: 13px;
  color: #ff5300;
  font-family: Verdana;
  ine-height: 38px;
}
.home_promociones {
  font-weight: normal;
  font-size: 10px;
  color: #6e6e6e;
  line-height: 12px;
  border-bottom: #d4d4d4 1px solid;
  font-family: Arial;
  background-color: #efefef;
}
.tit_home_promo {
  font-weight: bold;
  font-size: 11px;
  color: #ff7900;
  font-family: Arial;
}
.body_newsletter {
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  margin: 0px;
  padding-top: 0px;
  background-color: #5ba5fe;
}
.linea_divide {
  background-color: #d4d4d4;
}
.asterisco {
  font-size: 10px;
  color: #499dff;
  font-family: Arial;
}
INPUT {
  border-right: #a4c7ff 1px solid;
  padding-right: 3px;
  border-top: #a4c7ff 1px solid;
  padding-left: 3px;
  font-size: 11px;
  padding-bottom: 3px;
  border-left: #a4c7ff 1px solid;
  width: 230px;
  color: #000000;
  padding-top: 3px;
  border-bottom: #a4c7ff 1px solid;
  font-family: Tahoma;
  background-color: #e2edff;
}
TEXTAREA {
  border-right: #a4c7ff 1px solid;
  padding-right: 3px;
  border-top: #a4c7ff 1px solid;
  padding-left: 3px;
  font-size: 11px;
  padding-bottom: 3px;
  border-left: #a4c7ff 1px solid;
  width: 230px;
  color: #000000;
  padding-top: 3px;
  border-bottom: #a4c7ff 1px solid;
  font-family: Tahoma;
  background-color: #e2edff;
}
SELECT {
  border-right: #a7a6ab 1px solid;
  padding-right: 2px;
  border-top: #a7a6ab 1px solid;
  padding-left: 2px;
  font-size: 11px;
  padding-bottom: 2px;
  border-left: #a7a6ab 1px solid;
  width: 236px;
  color: #000000;
  padding-top: 2px;
  border-bottom: #a7a6ab 1px solid;
  font-family: Tahoma;
  background-color: #fff;
}
.form_label {
  font-weight: normal;
  font-size: 11px;
  color: #777777;
  font-family: Verdana;
  text-align: right;
}
.enviar {
  border-right: 0px;
  padding-right: 0px;
  border-top: 0px;
  padding-left: 0px;
  background: url(../images/enviar.jpg) no-repeat;
  padding-bottom: 0px;
  font: 10px Arial;
  border-left: 0px;
  width: 73px;
  color: #fff;
  padding-top: 0px;
  border-bottom: 0px;
  height: 21px;
  text-align: center;
}
.enviar_amigo {
  border-right: 0px;
  padding-right: 0px;
  border-top: 0px;
  padding-left: 0px;
  background: url(../images/tech_enviar_amigo.jpg) no-repeat;
  padding-bottom: 0px;
  font: 10px Arial;
  border-left: 0px;
  width: 20px;
  color: #fff;
  padding-top: 0px;
  border-bottom: 0px;
  height: 20px;
  text-align: center;
}
.enviar_amigo2 {
  border-right: 0px;
  padding-right: 0px;
  border-top: 0px;
  padding-left: 0px;
  background: url(../images/tech_enviar_amigo2.jpg) no-repeat;
  padding-bottom: 0px;
  font: 10px Arial;
  border-left: 0px;
  width: 70px;
  color: #fff;
  padding-top: 0px;
  border-bottom: 0px;
  height: 20px;
  text-align: center;
}
.input_amigo {
  border-right: #cecece 1px solid;
  padding-right: 3px;
  border-top: #cecece 1px solid;
  padding-left: 3px;
  padding-bottom: 3px;
  border-left: #cecece 1px solid;
  width: 195px;
  color: #000000;
  padding-top: 3px;
  border-bottom: #cecece 1px solid;
  background-color: #fff;
}
td > a > img {
  /* width: 100%; */
  height: auto;
}
[usemap="#FPMap0"] {
  width: auto;
  height: auto;
}
